{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
    
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<h1>Movie Catalog</h1>
		</div>
		<div class="col-md-1"></div>
	</div>
    
	<div class="row padding-top">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h2>Edit Movie</h2>
		</div>
		<div class="col-md-1"></div>
	</div>

	<div class="row padding-bottom">
		<div class="col-md-6 col-md-offset-1">
			<form id="frm1" action="{{url_for('editMovie', genre_id=genre_id, movie_id=movie_id)}}" method="post">
				<div class="error"></div>
				<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" class="form-control" id="name" maxlength="100" name="name" value="{{movie.name}}">
                <br>
				<label for="plot">Plot:</label>
				<input type="text" class="form-control" id="plot" maxlength="200" name="plot" value="{{movie.plot}}">
                <br>
 				<label for="year">Year:</label>
				<input type="text" class="form-control" id="year" maxlength="4" name="year" value="{{movie.year}}">
                <br>
 				<label for="year">Picture URL:</label>
				<input type="text" class="form-control" id="picture" maxlength="200" name="picture" value="{{movie.picture}}">
                <br>
                <label for="genre">Genre:</label>
                <br>
                <select name="genre">	
                    {% for g in genres %}
                        {% if g.id == genre_id %}
                            <option value="{{g.id}}" selected>{{g.name}}</option>
                        {% else %}
                            <option value="{{g.id}}">{{g.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <div class="padding-bottom"></div>
				<button type="submit" class="btn btn-default" id="submit" type="submit">
				<span class="glyphicon glyphicon-film" aria-hidden="true"></span>Update</button>
				<a href="{{url_for('showMovie', genre_id=genre_id, movie_id=movie_id)}}">Cancel</a>
				</div>
                <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
			</form>
		</div>
	</div>
    
	<script>
		jQuery(function(){
            jQuery('#name').focus();
        
			jQuery('#frm1').on('submit', function(){
				var name = jQuery('#name').val();
				if (jQuery.trim(name).length < 1)
				{
					jQuery('.error').html("Please enter a name.").show();
					return false;
				}
                var plot = jQuery('#plot').val();
				if (jQuery.trim(plot).length < 1)
				{
					jQuery('.error').html("Please enter a plot description.").show();
					return false;
				}
                var year = jQuery('#year').val();
 				if (jQuery.trim(year).length < 1)
				{
					jQuery('.error').html("Please enter a year.").show();
					return false;
				}
                var picture = jQuery('#picture').val();
 				if (jQuery.trim(picture).length < 1)
				{
					jQuery('.error').html("Please provide a picture URL.").show();
					return false;
				}
			})
		});
	</script>
{% endblock %}

