{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
    
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<h1>Movie Catalog</h1>
		</div>
		<div class="col-md-1"></div>
	</div>
    
	<div class="row padding-top">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h2>Edit Genre</h2>
		</div>
		<div class="col-md-1"></div>
	</div>

	<div class="row padding-bottom">
		<div class="col-md-6 col-md-offset-1">
			<form id="frm1" action="{{url_for('editGenre', genre_id=genre.id)}}" method="post">
				<div class="error"></div>
				<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" class="form-control" id="name" maxlength="100" name="name" value="{{genre.name}}">
                <br>
 				<label for="description">Description:</label>
				<input type="text" class="form-control" id="description" maxlength="200" name="description" value="{{genre.description}}">
				<div class="padding-bottom"></div>
				<button type="submit" class="btn btn-default" id="submit" type="submit">
				<span class="glyphicon glyphicon-film" aria-hidden="true"></span>Update</button>
				<a href="{{url_for('showGenreMovies', genre_id=genre.id)}}">Cancel</a>
				</div>
                 <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
			</form>
		</div>
	</div>
    
	<script>
		jQuery(function(){
            jQuery('#name').focus();
            
			jQuery('#frm1').on('submit', function(){
				var name = jQuery('#name').val();
				if (jQuery.trim(name).length < 1)
				{
					jQuery('.error').html("Please enter a name.").show();
					return false;
				}
 				var desc = jQuery('#description').val();
				if (jQuery.trim(desc).length < 1)
				{
					jQuery('.error').html("Please enter a description.").show();
					return false;
				}
			})
		});
	</script>
{% endblock %}

