{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
            <h1>Movie Catalog</h1>
		</div>
		<div class="col-md-1"></div>
	</div>

	<div class="flash">
		{% with messages = get_flashed_messages() %}
	      {% if messages %}	          
	        <ul>
		        {% for message in messages %}
		            <li><strong>{{message}}</strong></li>
		        {% endfor %}
	        </ul>
	        {% endif %}
	    {% endwith %}
	</div>
    
    <div class="row padding-top padding-botom">
        <div class="col-md-1"></div>
        <div class="col-md-10 description">
            <img class="thumbnail thumbnail-medium float-left" src="{{movie.picture}}" style="margin-right:10px;">
            <div>
                <h3 style="display: inline;"><span class="movie-title">{{movie.name}}</span> ({{movie.year}})</h3>
                <p>{{movie.plot}}</p>
             </div>
        </div>
        <div class="col-md-1"></div>
     </div>

{% endblock %}